<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="tests" name="Suite">
 <listeners>
        <listener class-name="Trang.Testcomponent.Listeners"/>
    </listeners>
  <test thread-count="1" name="Submit Order Test">
    <classes>
      <class name="trangacademy.trangselenium.pageobjects.SubmitOrderTest"/>
    </classes>
    
  </test> <!-- Test -->
  
  <test thread-count="1" name="Error Validation Test">
    <classes>
      <class name="trangacademy.trangselenium.pageobjects.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
